.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height : 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom right, #ffffff, #fee7cc);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.introRow {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center; 
  width: 80%;
  line-height: 1;
  font-weight: 300;
  margin: margin 5rem;
  color: rgb(55, 55, 55);
}

@media (min-width: 640px) {
  .introRow {
    width: 60%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .introRow {
    width: 50%;
  }
}

.imageContainer {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 20px
}

@media (min-width: 768px) {
  .imageContainer {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 992px) {
  .imageContainer {
    width: 400px;
    height: 400px;
  }
}